<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" data-bs-theme="dark">
<head>
    <meta charset="UTF-8">
    <title>LetMeBuyThat</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script type="text/javascript" th:src="@{/js/actions.js}"></script>
    <script type="text/javascript" th:src="@{/js/mail.js}"></script>
    <script type="text/javascript" th:src="@{/js/shoppinglist.js}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <link th:href="@{/css/styles.css}" rel="stylesheet">
</head>
<body>
    <h1>ShoppingStar</h1>

    <div id="mainContent" class="d-flex flex-column">
        <div>
            <p>hier sind infos etc</p>
            <button>Artikel hinzufügen</button>
        </div>
        <div class="d-flex justify-content-around w-75 mx-auto">

            <div class="w-75 mx-3 border border-success-subtle rounded d-flex flex-column" id="left">
                <div>
                    <h2 class="text-center px-1 py-2 bg-success bg-opacity-25 border-bottom border-success-subtle rounded">1.) Gericht auswählen</h2>
                    <div class="mt-5 px-5">
                        <input class="form-control mb-3" type="text" placeholder="Tiramisu" onkeypress="searchForMeal(this)">
                        <b>Deine Gerichte</b>
                        <select class="w-100 form-select" name="meals" id="meals" size="10" onchange="newItemSelected()">
                            <option th:each="Meal : ${allMeals}" th:value="${Meal.name}" th:text="${Meal.name}" th:data-id="${Meal.Id}"></option>
                        </select>
                        </div>
                </div>

                <div class="mt-5">
                <h2 class="text-center">Oder:
                    <br>
                    <a href="#" class="text-success-emphasis" onclick="openNewMealDialog()">Erstelle ein Neues</a>
                </h2>
                </div>


            </div>

            <div class="w-75 mx-3 border border-success-subtle rounded" id="center">
                    <h2 class="text-center px-1 py-2 bg-success bg-opacity-25 border-bottom border-success-subtle rounded">2.) Zutaten hinzufügen</h2>
                <div class="mt-5 px-5" id="itemcontainer">
                    <h3 id="selectedMeal"></h3> <!--Gericht-->
                    <br>
<!--                    <h4 id="ingredientsheading"></h4> &lt;!&ndash;Zutaten&ndash;&gt;-->
                    <button class="d-none btn btn-outline-success btn-sm" onclick="openMealEdit()" id="alreadymealedit">Gericht bearbeiten</button>
                    <ul class="list-group my-1" id="ingredients" data-edit="0">
                    </ul>
                </div>
                <div class="px-5 mt-3 d-flex flex-row-reverse">
                    <button class="d-none btn btn-success btn-lg" id="toShoppingList" onclick="transferToShoppingList()">Auf den Einkaufszettel</button>
                </div>
            </div>

            <div class="w-75 mx-3 border border-success-subtle rounded" id="right">
                <h2 class="text-center px-1 py-2 bg-success bg-opacity-25 border-bottom border-success-subtle rounded">3.) Einkaufszettel abschicken</h2>
                <h3>Einkaufszettel</h3>
                <ul id="shoppinglist">
                </ul>
                <button class="btn btn-success" onclick="saveShoppingList()">Einkaufszettel speichern</button>
                <button class="btn btn-success" onclick="openShoppingListsPop()">Einkaufszettel laden</button>
                <button class="btn btn-success" onclick="getAllAdresses()">An Email schicken</button>
                <button class="btn btn-success" onclick="clearShoppingList()">Einkaufszettel löschen</button>
                <div>
                    <div id="shoppinglistspop" class="d-none d-flex justify-content-center align-items-center">
                        <div id="listcontainer" class="d-flex flex-column">
                            <h4>Gespeicherte Einkaufszettel</h4>

                        </div>

                    </div>
                    <div id="mails"></div>
                    <div id="addmailscontainer" style="display:none;">
                        <h4>neue Email hinzufügen</h4>
                        <input type="email">
                        <button onclick="saveAdress()">Email Speichern</button>
                    </div>

                </div>
                <div class="toast-container p-3 bottom-0 end-0">
                    <div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
                        <div class="toast-header">
                            <img src="..." class="rounded me-2" alt="...">
                            <strong class="me-auto">Gesendet</strong>
                            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                        </div>
                        <div class="toast-body">
                            Der Einkaufszettel wurde via Email gesendet.
                        </div>
                    </div>
                </div>


            </div>

        </div>

    </div>
</body>
<script>

</script>
</html>